<%- include('./partials/head') %>

<main>
  <section class="background-container">
    <img src="/images/findyourlove-home.png">
  </section>

<section class="circle-squadpage">
      <h3>Squadpage</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a href="#members">bekijk je klasgenoten</a>
</section>

<section class="intro-title">
  <span class="intro-title-span1">Find</span>
  <span class="intro-title-span2">Your</span>
  <span class="intro-title-span3">Love!</span>
</section>

<svg class="heart-fdnd-love" 
  width="491" height="460" viewBox="0 0 491 460" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.46656 105.799C17.9421 64.1696 40.2851 34.0903 76.6419 15.5243C98.7203 4.24263 122.269 -1.76061 147.197 0.702966C180.622 4.00537 210.904 14.8981 234.602 40.071C248.228 54.5409 257.23 71.484 261.92 90.7908C262.423 92.8628 264.047 95.4578 265.817 96.1921C267.263 96.7894 270.301 95.5338 271.635 94.1517C297.062 67.6693 328.471 57.9606 364.426 60.7309C433.711 66.0628 487.217 120.86 490.061 190.227C491.445 223.984 481.821 254.957 463.435 283.274C441.806 316.591 413.404 343.113 380.931 365.537C346.828 389.08 310.096 407.723 271.87 423.555C238.362 437.435 203.856 448.359 169.118 458.646C166.334 459.469 164.286 458.972 162.408 456.754C133.537 422.699 102.768 390.185 77.4464 353.256C48.2555 310.683 23.6606 265.77 9.8576 215.654C2.08979 187.48 -1.82232 158.844 1.56633 129.599C2.60587 120.601 4.48305 111.701 5.46656 105.799Z" fill="#BA354E"/>
  <path d="M40.4108 132.324C50.8368 97.5339 69.5089 72.3965 99.8926 56.8807C118.344 47.4525 138.023 42.4356 158.856 44.4944C186.789 47.2543 212.096 56.3574 231.901 77.3946C243.289 89.4872 250.811 103.647 254.731 119.781C255.151 121.513 256.508 123.682 257.987 124.295C259.196 124.795 261.735 123.745 262.85 122.59C284.1 100.459 310.348 92.345 340.396 94.6602C398.298 99.1161 443.013 144.911 445.39 202.881C446.547 231.092 438.504 256.977 423.138 280.641C405.063 308.485 381.327 330.649 354.19 349.389C325.689 369.064 294.992 384.644 263.046 397.875C235.043 409.475 206.206 418.604 177.175 427.201C174.849 427.889 173.137 427.473 171.568 425.62C147.44 397.16 121.727 369.987 100.565 339.126C76.1698 303.547 55.6157 266.013 44.0805 224.131C37.5888 200.586 34.3195 176.654 37.1514 152.214C38.0201 144.694 39.5889 137.257 40.4108 132.324Z" fill="white"/>
  <path d="M127.44 247L136.4 219H141L132.08 247H127.44ZM113.96 240.6L114.8 236.24H140.68L139.8 240.6H113.96ZM117.08 247L126.04 219H130.64L121.68 247H117.08ZM117.44 229.76L118.32 225.4H144.16L143.32 229.76H117.44ZM144.269 247L148.749 224.72C149.229 222.373 150.242 220.507 151.789 219.12C153.362 217.707 155.469 217 158.109 217C159.096 217 160.016 217.107 160.869 217.32C161.722 217.507 162.456 217.8 163.069 218.2L160.629 222.68C159.909 222.173 159.082 221.92 158.149 221.92C157.189 221.92 156.442 222.187 155.909 222.72C155.376 223.227 154.989 224.04 154.749 225.16L154.309 227.16L153.989 229.68L150.549 247H144.269ZM144.189 230.76L145.149 225.96H160.069L159.109 230.76H144.189ZM168.544 247.32C166.891 247.32 165.358 246.947 163.944 246.2C162.531 245.427 161.398 244.32 160.544 242.88C159.691 241.44 159.264 239.707 159.264 237.68C159.264 235.867 159.558 234.2 160.144 232.68C160.758 231.16 161.611 229.84 162.704 228.72C163.798 227.6 165.064 226.733 166.504 226.12C167.944 225.48 169.491 225.16 171.144 225.16C172.824 225.16 174.278 225.453 175.504 226.04C176.731 226.627 177.678 227.533 178.344 228.76C179.038 229.96 179.384 231.48 179.384 233.32C179.384 235.293 179.144 237.133 178.664 238.84C178.211 240.52 177.518 242 176.584 243.28C175.651 244.533 174.504 245.52 173.144 246.24C171.811 246.96 170.278 247.32 168.544 247.32ZM170.464 242.16C171.691 242.16 172.771 241.867 173.704 241.28C174.664 240.667 175.411 239.84 175.944 238.8C176.504 237.733 176.784 236.493 176.784 235.08C176.784 233.613 176.344 232.453 175.464 231.6C174.611 230.747 173.411 230.32 171.864 230.32C170.664 230.32 169.584 230.627 168.624 231.24C167.664 231.827 166.904 232.653 166.344 233.72C165.811 234.76 165.544 235.987 165.544 237.4C165.544 238.867 165.971 240.027 166.824 240.88C167.704 241.733 168.918 242.16 170.464 242.16ZM174.704 247L175.584 242.72L176.944 236.32L177.784 229.92L180.304 217.32H186.544L180.624 247H174.704ZM203.24 225.16C205.08 225.16 206.64 225.547 207.92 226.32C209.2 227.067 210.106 228.173 210.64 229.64C211.173 231.107 211.226 232.92 210.8 235.08L208.4 247H202.16L204.48 235.48C204.8 233.907 204.666 232.693 204.08 231.84C203.52 230.987 202.48 230.56 200.96 230.56C199.386 230.56 198.066 231.013 197 231.92C195.96 232.827 195.24 234.213 194.84 236.08L192.68 247H186.44L190.72 225.48H196.64L195.4 231.56L194.52 229.72C195.56 228.147 196.84 227 198.36 226.28C199.906 225.533 201.533 225.16 203.24 225.16ZM223.974 247.32C222.321 247.32 220.787 246.947 219.374 246.2C217.961 245.427 216.827 244.32 215.974 242.88C215.121 241.44 214.694 239.707 214.694 237.68C214.694 235.867 214.987 234.2 215.574 232.68C216.187 231.16 217.041 229.84 218.134 228.72C219.227 227.6 220.494 226.733 221.934 226.12C223.374 225.48 224.921 225.16 226.574 225.16C228.254 225.16 229.707 225.453 230.934 226.04C232.161 226.627 233.107 227.533 233.774 228.76C234.467 229.96 234.814 231.48 234.814 233.32C234.814 235.293 234.574 237.133 234.094 238.84C233.641 240.52 232.947 242 232.014 243.28C231.081 244.533 229.934 245.52 228.574 246.24C227.241 246.96 225.707 247.32 223.974 247.32ZM225.894 242.16C227.121 242.16 228.201 241.867 229.134 241.28C230.094 240.667 230.841 239.84 231.374 238.8C231.934 237.733 232.214 236.493 232.214 235.08C232.214 233.613 231.774 232.453 230.894 231.6C230.041 230.747 228.841 230.32 227.294 230.32C226.094 230.32 225.014 230.627 224.054 231.24C223.094 231.827 222.334 232.653 221.774 233.72C221.241 234.76 220.974 235.987 220.974 237.4C220.974 238.867 221.401 240.027 222.254 240.88C223.134 241.733 224.347 242.16 225.894 242.16ZM230.134 247L231.014 242.72L232.374 236.32L233.214 229.92L235.734 217.32H241.974L236.054 247H230.134ZM241.869 247L247.789 217.32H254.029L248.109 247H241.869ZM265.141 247.32C262.954 247.32 261.047 246.92 259.421 246.12C257.794 245.32 256.527 244.2 255.621 242.76C254.741 241.32 254.301 239.627 254.301 237.68C254.301 235.28 254.861 233.147 255.981 231.28C257.101 229.387 258.634 227.893 260.581 226.8C262.554 225.707 264.794 225.16 267.301 225.16C269.514 225.16 271.421 225.56 273.021 226.36C274.647 227.16 275.901 228.28 276.781 229.72C277.687 231.133 278.141 232.827 278.141 234.8C278.141 237.173 277.581 239.307 276.461 241.2C275.341 243.093 273.807 244.587 271.861 245.68C269.914 246.773 267.674 247.32 265.141 247.32ZM265.541 242.2C266.767 242.2 267.847 241.907 268.781 241.32C269.741 240.707 270.487 239.867 271.021 238.8C271.554 237.733 271.821 236.493 271.821 235.08C271.821 233.64 271.394 232.48 270.541 231.6C269.687 230.72 268.487 230.28 266.941 230.28C265.714 230.28 264.621 230.587 263.661 231.2C262.727 231.787 261.981 232.613 261.421 233.68C260.887 234.747 260.621 235.987 260.621 237.4C260.621 238.867 261.047 240.04 261.901 240.92C262.754 241.773 263.967 242.2 265.541 242.2ZM285.327 247L280.567 225.48H286.727L290.687 244H287.487L298.887 225.48H305.127L291.767 247H285.327ZM314.247 247.32C312.007 247.32 310.06 246.92 308.407 246.12C306.78 245.32 305.514 244.2 304.607 242.76C303.7 241.32 303.247 239.627 303.247 237.68C303.247 235.28 303.78 233.147 304.847 231.28C305.94 229.387 307.434 227.893 309.327 226.8C311.247 225.707 313.447 225.16 315.927 225.16C318.034 225.16 319.847 225.56 321.367 226.36C322.887 227.133 324.06 228.227 324.887 229.64C325.74 231.027 326.167 232.693 326.167 234.64C326.167 235.2 326.127 235.76 326.047 236.32C325.994 236.88 325.914 237.413 325.807 237.92H308.007L308.647 234.28H322.887L320.327 235.4C320.54 234.2 320.474 233.2 320.127 232.4C319.78 231.573 319.22 230.947 318.447 230.52C317.674 230.067 316.74 229.84 315.647 229.84C314.287 229.84 313.127 230.173 312.167 230.84C311.234 231.48 310.527 232.373 310.047 233.52C309.567 234.667 309.327 235.96 309.327 237.4C309.327 239.053 309.78 240.293 310.687 241.12C311.62 241.92 313.02 242.32 314.887 242.32C315.98 242.32 317.034 242.147 318.047 241.8C319.06 241.453 319.927 240.96 320.647 240.32L323.247 244.44C321.994 245.427 320.58 246.16 319.007 246.64C317.46 247.093 315.874 247.32 314.247 247.32Z" fill="#BA354E"/>
</svg>
  
<svg class="heart-dark-pink"
  width="102" height="96" viewBox="0 0 102 96" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.45665 22.3295C4.0402 13.7086 8.66718 7.47947 16.1963 3.63465C20.7685 1.29835 25.645 0.0551508 30.8075 0.56533C37.7293 1.24922 44.0005 3.50498 48.9079 8.71801C51.7299 11.7146 53.594 15.2233 54.5652 19.2215C54.6694 19.6506 55.0057 20.188 55.3723 20.3401C55.6718 20.4638 56.3008 20.2037 56.5772 19.9175C61.8429 14.4333 68.3473 12.4227 75.7931 12.9964C90.1414 14.1006 101.222 25.4485 101.811 39.8136C102.097 46.8043 100.104 53.2185 96.2967 59.0825C91.8177 65.9822 85.9358 71.4746 79.2112 76.1184C72.1487 80.9939 64.542 84.8546 56.6259 88.1333C49.6866 91.0077 42.5408 93.27 35.347 95.4002C34.7705 95.5706 34.3463 95.4677 33.9574 95.0084C27.9786 87.9561 21.6068 81.2227 16.3629 73.5752C10.3178 64.7587 5.22443 55.4577 2.36599 45.0793C0.75736 39.2448 -0.0527952 33.3145 0.648956 27.2582C0.864233 25.3948 1.25298 23.5519 1.45665 22.3295Z" fill="#BA354E"/>
</svg>

<svg class="circles-dark-pink"
  width="95" height="128" viewBox="0 0 95 128" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="42.5" cy="42.5" r="42.5" fill="#BA354E"/>
  <circle cx="73.5" cy="106.5" r="21.5" fill="#BA354E"/>
</svg>

<svg class="circles-white-pink"
  width="185" height="202" viewBox="0 0 185 202" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="92.5" cy="109.5" r="92.5" fill="white"/>
  <circle cx="92.5" cy="109.5" r="70.5" fill="#BA354E"/>
  <ellipse cx="9" cy="8.5" rx="9" ry="8.5" fill="#BA354E"/>
</svg>

<svg class="hearts-white-pink"
  width="157" height="162" viewBox="0 0 157 162" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M46.9232 81.8542C49.737 72.4649 54.7763 65.6807 62.9764 61.4933C67.956 58.9488 73.2672 57.5948 78.8897 58.1504C86.4283 58.8952 93.2584 61.352 98.6032 67.0296C101.677 70.2932 103.707 74.1146 104.765 78.4692C104.878 78.9365 105.244 79.5218 105.644 79.6874C105.97 79.8221 106.655 79.5389 106.956 79.2272C112.691 73.2543 119.775 71.0645 127.884 71.6894C143.511 72.8919 155.579 85.2511 156.221 100.896C156.533 108.51 154.362 115.496 150.215 121.882C145.337 129.397 138.931 135.379 131.607 140.437C123.915 145.747 115.63 149.951 107.009 153.522C99.4513 156.653 91.6687 159.117 83.8338 161.437C83.2059 161.622 82.7439 161.51 82.3203 161.01C75.8087 153.329 68.8691 145.996 63.1578 137.667C56.574 128.065 51.0267 117.935 47.9136 106.631C46.1616 100.277 45.2792 93.8181 46.0435 87.2221C46.278 85.1926 46.7014 83.1854 46.9232 81.8542Z" fill="white"/>
  <path d="M1.12553 14.4308C2.71515 9.12639 5.56207 5.29373 10.1946 2.92807C13.0078 1.49057 16.0083 0.725649 19.1847 1.03955C23.4436 1.46034 27.3021 2.84828 30.3216 6.05578C32.0579 7.89952 33.2049 10.0584 33.8025 12.5184C33.8666 12.7825 34.0735 13.1131 34.299 13.2067C34.4834 13.2828 34.8704 13.1228 35.0404 12.9467C38.2803 9.57232 42.2824 8.33526 46.8637 8.68825C55.692 9.36763 62.5096 16.3498 62.872 25.1884C63.0483 29.4898 61.8221 33.4363 59.4793 37.0444C56.7234 41.2897 53.1044 44.669 48.9668 47.5263C44.6214 50.5261 39.941 52.9016 35.0704 54.9189C30.8007 56.6874 26.4041 58.0794 21.9778 59.3901C21.6231 59.495 21.3621 59.4316 21.1228 59.1491C17.4441 54.8098 13.5236 50.6669 10.2971 45.9615C6.57764 40.5368 3.44379 34.8141 1.68503 28.4283C0.695268 24.8385 0.196791 21.1897 0.628569 17.4633C0.761026 16.3168 1.00021 15.1828 1.12553 14.4308Z" fill="#BA354E"/>
</svg>


  <!-- <a href="/?squad=squad-a-2022">Squad A</a>
  <a href="/?squad=squad-b-2022">Squad B</a>
  <a href="/?squad=squat-c-2022">Squad C</a>
  <hr />

  <a href="/?squad=<%= squad.slug %>&orderBy=name">Sorteer op naam</a>
  <hr /> -->

  <section class="top-title" id="members">
    <h2>Check Your Squad!</h2>
    <p>Find your soulmate!</p>
  </section>

  <section class="filter-members">
    <a href="#">Single</a>
    <a href="#">Taken</a>
  </section>

  <section class="members-squad">
    <% squad.members.forEach(member => { %>
    <article>
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="images/placeholder-person.png" alt="Placeholder avatar" />
      <% } %>
      <h2>
        <%= member.name %> <%= member.prefix %> <%= member.surname %>
      </h2>
      <p>
        <%= member.role %>
      </p>
      <div>
        <a href="<%= member.website %>">Visitekaartje</a>
      </div>
    </article>
    <% }) %>
  </section>
</main>

<%- include('./partials/foot') %>
